{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="container col-md-3 col-md-offset-4">
        <br><br>
        <div class="panel panel-default ">
            <div class="panel-heading">Mot de passe oublié ?</div>
            <div class="panel-body">
                {% block fos_user_content %}
                    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}




